Flask
requests
Flask-SQLAlchemy
Flask-Login
gunicorn
python-dotenv
google-generativeai
psycopg2-binary
Flask-WTF
WTForms
Flask-Bcrypt
email-validator
Pillow
Flask-Compress
Flask-Caching
redis
upstash-redis
google-genai
stability-sdk
